

{
    "root": true,
    "env": {
      "es2020": true,
      "node": true
    },
    "extends": ["airbnb-typescript/base"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": ["./tsconfig.json"]
    },
    "plugins": ["no-only-tests", "@typescript-eslint"],
    "rules": {
      "quotes": [2, "single"],
      "import/prefer-default-export": "off",
      "class-methods-use-this": "off",
      "max-len": [2, { "code": 100, "ignorePattern": "^import .*" }],
      "extraneous-dependencies": [0],
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
      "func-style": ["error", "expression"],
      "no-only-tests/no-only-tests": "error"
    },
    "overrides": [{
      "files": [ "migrations/*" ],
      "rules": {
        "max-len": "off"
      }
    }]
  }